* {
    box-sizing: border-box;
}

body {
    font-family: 'Manjari', sans-serif;
    background-color: #faf5ef;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: #99b19c;
    display: block;
    width: 100%;
    padding: 0 0 2px 2px;
}

code::before {
    content: "$ ";
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 120vh;
    max-width: 1100px;
    margin: auto;
}

.card {
    background-color: #d7d1c9;
    max-width: 31%;
    margin: 10px;
    /* border: 1px solid #ccc; */
}

.card-header {
    background-color: #672f2f;
    color: whitesmoke;
    padding: 2% 0 0.5% 1%;
}

.card-header h3 {
    margin: 0;
}

.card-content {
    padding: 0px 10px;
}

.note {
    margin: 10px 0;
}

.note p {
    margin: 4px 0;
}

