body, html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #f1f1f1;
}

a {
    color: #f1f1f1;
}

.par-img1, .par-img2, .par-img3 {
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* "scroll" to remove parallax */
}

.par-img1 {
    background-image: url(../media/img/trees.jpg);
    min-height: 100%;
}

.par-img2 {
    background-image: url(../media/img/chopped_wood.jpg);
    min-height: 400px;
}

.par-img3 {
    background-image: url(../media/img/wood_bg.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.par-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
}

.par-text .border {
    background-color: #111;
    padding: 20px;
}

.proj-container {
    display: inline-block;
}

.proj-title {
    font-size: 18px;
    font-weight: 700;
}

.button {
    background-color: #282e34;
    color: #ddd;
    border: 2px solid #ddd;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #ddd;
    color: #282e34;
}

@media(max-width:568px) {
    .par-img1, .par-img2 {
        background-attachment: scroll;
    }
}
